body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eee;
}

.container {
    display: grid;
    justify-content: center;
}

#wrapper {
    display: grid;
    background-color: white;
    border: solid 43px rgb(230, 2, 2);
    border-radius: 8px;
    box-shadow: rgb(161, 160, 160) 16px 16px;
    width: 60vh;
    height: 60vh
}

.cell {
    border: solid 1px rgba(207, 207, 207, 0.199);
}

.title {
    text-align: center;
    font-size: 64px;
    padding: 20px;
    
}

.color-buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

button {
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgb(161, 160, 160) 5px 5px;
}

.slider-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.credit {
    text-align: center;
    padding: 25px;
    font-size: 18px;
}

.github {
    width: 24px;
    height: 24px;
}